.currency-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #33FF49;
    color: white;
    padding: 10px;
    z-index: 999; /* Ensure it's above other content */
  }
  
  .currency-label {
    margin-right: 10px;
  }